<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>House Prediction01</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body background="../static/images/background1.jpg">
    <div class="input_form">
        <form action="{{url_for('predict)}}" method="post" id="input head">
            <h1 id="heading">House Prediction01 Form</h1>
            <h3 id="input">enter the area of thr house</h3>
            <h3 id="input">enter the town of the house</h3>
            <input type="text" name="area" placeholder="Area of the house"><br><br>

            <label for="town">Town:</label>
            <select name="town" id="town"></select>
            <option value="0">monroe_township</option>
            <option value="1">west_windsor</option>
            <option value="2">robinsville</option>

            <button value="Upload">submit</button>
        </form>
    </div>
</body>

</html>