<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BREAST CANCER PREDICTION</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>

<body background="../static/images/background1.jpg">
    <div class="input form">
        <form action="{{url_for('predict')}}" method="post" id="input head">
            <h1 id="heading">Breast cancer Form</h1>
            <h3 id="input">age</h3>
            <input type="text" name="age" placeholder="age">
            <br>
            <h3 id="input">disease</h3>
            <input type="text" name="disease" placeholder="disease">
            <br>
            <br>
            <button id="submit" type="submit">Submit</button>

    </div>

</body>

</html>